background_color 0.15 0.15 0.18
dark_mode_background_color 0.15 0.15 0.18

custom_background_color    0.15 0.15 0.22
status_bar_text_color      0.8 0.8 0.9

ui_text_color              0.8 0.8 0.9
ui_background_color        0.2 0.2 0.2
ui_selected_text_color     0.8 0.8 0.9
ui_selected_background_color 0.28 0.28 0.28

status_bar_color           0.18 0.18 0.24
status_bar_text_color      0.8 0.8 0.9

page_separator_width 8
page_separator_color 0.2 0.2 0.25

highlight_color_a 0 0 0 1
